@charset "utf-8";

@import "CardSearchCondition.css";

.list .inside .contents {
    display: flex;
    line-height: 1.4;
}

.list .inside .time {
    line-height: 1.4;
    margin: 0;
    min-width: 90px;
}

.list .inside .contents .pack_name {
    font-weight: bold;
}

.list .inside .contents .card_number {
    margin: 0;
    min-width: 100px;
}

.list .inside .icon {
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

@media only screen and (max-width: 896px) {

    /*デバイスの横幅が896px以下の場合*/
    .list .inside {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .list .inside .contents {
        order: 3;
        min-width: 100%;
        padding: 0 2px 2px;
    }

    .list .inside .icon {
        order: 2;
        margin: 0 0 0 auto;
        padding: 2px;
    }

    .list .inside .time {
        padding: 2px 2px 0
    }
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    .list .inside .contents>* {
        line-height: 1.2;
    }

}

#cardname {
    background: #000000;
    color: #ffffff;
    padding: 5px;
}

#cardname h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
}

#cardname h1 span {
    font-size: .9em;
    line-height: 1.2;
    display: block;
    opacity: .8;
    margin: 2px 0 0;
}

#cardname h1 span.ruby {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
}

@media only screen and (max-width: 896px) {

    /*デバイスの横幅が896px以下の場合*/
    #cardname h1 {
        font-size: 2.2rem;
    }

    #cardname h1 span {
        font-size: .8em;
    }

    #cardname h1 span.ruby {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    #cardname h1 {
        font-size: 2rem;
    }

    #cardname h1 span {
        font-size: .7em;
    }

    #cardname h1 span.ruby {
        font-size: 1.2rem;
    }
}



#CardRelation {
    align-items: center;
}

.navbtn .icon.hex span {
    width: 25px;
    height: auto;
}

.navbtn .icon.hex svg {
    width: 100%;
    height: 100%;
}

/*----thumbnail----*/
#thumbnail {
    width: 208px;
    margin: 0 auto;
}

#thumbnail img {
    margin: 1px;
    width: 32px;
    height: 46px;
    border: solid 2px #ddd;
    cursor: pointer;
}

#thumbnail img.current {
    border: solid 3px #888;
    margin: 0;
}

/*----/thumbnail----*/


/*----details----*/

#details {
    font-size: 1.4rem;
    width: 510px;
}

#details tr td {
    padding: 0;
}

#details .item_box {
    position: relative;
    background: #fff;
    border: solid 2px #555;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    height: 22px;
    line-height: 1.6em;
}

#details .item_box .item_box_title {
    position: absolute;
    left: 10px;
    top: 5px;
}

#details .item_box .item_box_value {
    position: absolute;
    right: 10px;
}

#details .item_box_text {
    position: relative;
    background: #fff;
    border: solid 2px #555;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1.5em;
}

.item_box_title_note {
    border-top: 1px solid #888;
    display: block;
    margin: 5px 0;
    padding: 5px 0 0;
}

#details div.forbidden_limited {
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
}

#details div.forbidden_limited.limited_type_1 {
    background-color: #fd7978;
}

#details div.forbidden_limited.limited_type_2 {
    background-color: #fdb352;
}

#details div.forbidden_limited.limited_type_3 {
    background-color: #fdd752;
}

#details div.forbidden_limited img {
    vertical-align: text-bottom;
    margin-left: -80px;
}

#details div.forbidden_limited span {
    color: #fff;
    font-weight: bold;
}

/*----/details----*/


/*------to_QandA------*/

.CD_a_btn {
    width: 206px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    margin: 0 2px 10px;
    line-height: 1.5em;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;

    -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
}

#to_QandA.CD_a_btn {
    background: #f3cd4d;
    background: -moz-linear-gradient(top, #f3cd4d 0%, #f2c94a 27%, #edb437 51%, #eba92d 100%);
    background: -webkit-linear-gradient(top, #f3cd4d 0%, #f2c94a 27%, #edb437 51%, #eba92d 100%);
    background: linear-gradient(to bottom, #f3cd4d 0%, #f2c94a 27%, #edb437 51%, #eba92d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3cd4d', endColorstr='#eba92d', GradientType=0);

    border-color: #f5d496;
}

#to_QandA.CD_a_btn:hover {
    background: #f7de68;
    background: -moz-linear-gradient(top, #f7de68 0%, #f7da60 27%, #f4cf4d 51%, #f2c73d 100%);
    background: -webkit-linear-gradient(top, #f7de68 0%, #f7da60 27%, #f4cf4d 51%, #f2c73d 100%);
    background: linear-gradient(to bottom, #f7de68 0%, #f7da60 27%, #f4cf4d 51%, #f2c73d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7de68', endColorstr='#f2c73d', GradientType=0);

}

#to_MyD.CD_a_btn,
#relationCard_a a {
    background: #545454;
    background: -moz-linear-gradient(top, #545454 0%, #545454 27%, #333434 51%, #000000 100%);
    background: -webkit-linear-gradient(top, #545454 0%, #545454 27%, #333434 51%, #000000 100%);
    background: linear-gradient(to bottom, #545454 0%, #545454 27%, #333434 51%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#000000', GradientType=0);

    border-color: #b4b4b4;
}

#to_MyD.CD_a_btn:hover,
#relationCard_a a:hover {
    background: #6c6c6c;
    background: -moz-linear-gradient(top, #6c6c6c 0%, #727272 27%, #545454 51%, #1f2020 100%);
    background: -webkit-linear-gradient(top, #6c6c6c 0%, #727272 27%, #545454 51%, #1f2020 100%);
    background: linear-gradient(to bottom, #6c6c6c 0%, #727272 27%, #545454 51%, #1f2020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c6c6c', endColorstr='#1f2020', GradientType=0);

}

.CD_a_btn:visited {
    text-decoration: none;
}

/*------/to_QandA------*/



/*----pack_list----*/

#pack_list {
    background-color: #888;
    border: solid 2px #555;
    /* 2014.01対応 コンテンツ幅調整
	   2014.02対応 コンテンツ幅再調整 */
    /*margin:0 6px 30px 6px;*/
    margin-bottom: 30px;
}

#pack_list table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#pack_list table tr {
    height: 35px;
    min-height: 35px;
}

#pack_list table tr.row {
    background: #fff url(chrome-extension://__MSG_@@extension_id__/images/parts/list_style_line_bk.png) center repeat-x;
    cursor: pointer;
}

#pack_list table tr.row:hover {
    /*background:#eadff4;*/
    background: #6ec0ff;
    color: #fff;
}

#pack_list table tr th,
#pack_list table tr td {
    padding: 3px;
}

#pack_list table tr th {
    text-align: left;
    color: #fff;
    padding-left: 10px;
}

#pack_list table tr td a {
    text-decoration: none;
}

#pack_list tr td a:hover {
    text-decoration: underline;
}

/*----/pack_list----*/
#relationCard {
    padding: 50px 0 0;
}

article #relationCard .li_top {
    font-weight: bold;
    color: #fff;
    background: #333 !important;
    padding: 2px 10px;
    cursor: default;
    margin: 0 0 20px;
    border: double 4px;
}

article #relationCard ul {
    padding: 0;
}

article #relationCard li {
    cursor: pointer;
}


#relationCard_a {
    text-align: center;
    margin: 20px auto;
}

#relationCard_a a {
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding: 15px 20px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: bold;

    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.4);

}

#CD_Simple {
    background-color: #888;
    border: solid 2px #555;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#CD_Simple table {
    width: 100%;
    border-collapse: collapse;
}

#CD_Simple table tr.row {
    background: #fff url(chrome-extension://__MSG_@@extension_id__/images/parts/list_style_line_bk.png) center repeat-x;
    background-size: 100% 100%;
    cursor: pointer;
}

#CD_Simple table tr.row:hover {
    background: #6ec0ff;
    color: #fff;
}

#CD_Simple table tr th {
    text-align: center;
    color: #fff;
}

#CD_Simple table tr td {
    padding: 5px 0;
    line-height: 14px;
}

#relationCard .dk_options_inner {
    border: 1px solid #aaa;
    border-radius: 0;
}

#relationCard #CD_Simple,
#relationCard .box_list {
    margin: 0 10px;
}

article #relationCard.list_style ul.box_list li dl dd.box_card_pen_info span.box_card_pen_effect {
    width: 758px;
}

/*投票用ここから*/
#form_regist_voto {
    display: flex;
    justify-content: center;
}

#CardSet #voto_btn_set {
    display: inline-block;
    border: 2px solid #000000;
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

#CardSet #voto_btn_set .top {
    align-items: center;
    color: #fff;
    padding: 5px;
    background: #023765;
    font-size: 1.4rem;
    width: auto;
    margin: 0
}

#CardSet #voto_btn_set .top p {
    text-align: center;
}

#voto_btn_set .top span {
    font-weight: bold;
    padding: 0 5px;
    font-size: 1.8rem;
}

#CardSet #voto_btn_set .bottom {
    text-align: center;
}

#CardSet #voto_btn_set a {
    width: auto;
    margin: 10px auto;
    justify-content: center;
}

#CardSet #voto_btn_set .navbtn .icon.hex span {
    width: 40px;
}

@keyframes blinkAnime {
    0% {
        background: #f3cd4d
    }

    100% {
        background: #ff9000
    }
}

#CardSet #voto_btn_set a img {
    width: 40px;
    vertical-align: middle;
}

#CardSet #messageVoto {
    display: none;
    text-align: center;
    padding: 0 0 10px;
    color: red;
}

/*投票用ここまで*/
#cboxContent,
#cboxLoadedContent {
    background: none;
    border: none
}

#pop_set {

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#pop_set .btn_set {
    padding: 0 20px;
}

#pop_set .img_set {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#pop_card {
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop_set img {
    border: 1px solid rgb(255, 255, 255, .5);
    width: 100%;
    max-width: 300px;
    height: auto;
}

#pop_set .img_set .btn {
    font-size: 4rem;
    color: #ffffff;
    padding: 2px 0 0;
}

#pop_set .img_set .btn:active {
    padding: 0 0 2px;
}

#cboxClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 3;
    display: block;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: rgb(255, 255, 255, 0.2);
    text-indent: 0;
    font-size: 0;
    line-height: 28px;
    border-radius: 100%;
    color: #ffffff;
}

#cboxClose:before {
    font-size: 1.4rem;
    content: 'X';
}

#card_frame a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

#card_frame svg {
    position: absolute;
    bottom: 25px;
    right: 12px;
    width: 40px;
    height: 40px;
}

#card_frame a:hover svg {
    opacity: .5;
}

@media only screen and (max-width: 700px) {

    /*デバイスの横幅が896px以下の場合*/
    #card_frame svg {
        width: 32px;
        height: 32px;
        bottom: 14px;
        right: 7px;
        ;
    }
}

@media only screen and (max-width: 510px) {

    /*デバイスの横幅が510px以下の場合*/
    #pop_set {
        min-width: 300px;
    }
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    #card_frame svg {
        width: 32px;
        height: 32px;
        bottom: 0;
        right: 0;
    }
}

.subcatergory {
    padding: 0;
}


@charset "utf-8";

@import "CardSearchCondition.css";

#card_title {
    border: 2px solid #000;
    color: #fff;
    box-sizing: border-box;
    margin-bottom: -2px;
    padding: 5px;
    background: #000;
    font-size: 0px;
}

#card_title h1 span {
    font-size: 26px;
    line-height: 34px;
    color: #fff;
    display: block;
    text-align: center;
}

#card_title .ruby {
    font-size: 14px;
    line-height: 18px;
    color: #888;
}

#CardSet {
    padding: 0 0 10px;
    box-sizing: border-box;
    border: 2px solid #000;
}

/*----card_frame----*/
#CardSet .top {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

#CardImgSet {
    width: 20%;
    max-width: 220px;
    min-width: 80px;
}

#card_frame {
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

#card_frame::before {
    content: "";
    display: block;
    padding-top: 145%;
}

#card_frame .set {
    border: 1px solid #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(chrome-extension://__MSG_@@extension_id__/images/en/card_back.png) no-repeat;
    background-size: contain;
}

.ja #card_frame .set {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/ja/card_back.png);
}

.ko #card_frame .set {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/ko/card_back.png);
}

#card_frame img {
    width: 100%;
    height: auto;
    max-width: 220px;

}

/*----/card_frame----*/

/*----thumbnail----*/
#thumbnail {
    width: 100%;
    margin: 0 auto;
}

#thumbnail img {
    margin: 1px;
    width: 32px;
    height: 46px;
    border: solid 2px #ddd;
    cursor: pointer;
}

#thumbnail img.current {
    border: solid 3px #888;
    margin: 0;
}

/*----/thumbnail----*/

#CardTextSet {
    padding: 0 0 0 10px;
    flex: 2;
}

#legend {
    margin: 0 0 5px;
    justify-content: flex-end;
    display: flex;
}

#legend span {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}


#legend span.fuki:before {
    border: 10px solid transparent;
    margin-top: -10px;
}

#legend span.fuki:after {
    margin-top: -12px;
    border: 12px solid transparent;
}

#legend span.f1:before {
    left: -22px;
    border-right: 10px solid #C29B00;
}

#legend span.f1:after {
    left: -26px;
    border-right: 12px solid #000;
}

#legend span.f2:before {
    right: -21px;
    border-left: 10px solid #C29B00;
}

#legend span.f2:after {
    right: -25px;
    border-left: 12px solid #000;
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    #legend span {
        font-size: 10px;
        line-height: 12px;
        height: 12px;
    }

    #legend span.fuki:before {
        border: 6px solid transparent;
        margin-top: -6px;
    }

    #legend span.fuki:after {
        margin-top: -8px;
        border: 8px solid transparent;
    }

    #legend span.f1:before {
        left: -14px;
        border-right: 6px solid #C29B00;
    }

    #legend span.f1:after {
        left: -18px;
        border-right: 8px solid #000;
    }

    #legend span.f2:before {
        right: -13px;
        border-left: 6px solid #C29B00;
    }

    #legend span.f2:after {
        right: -17px;
        border-left: 8px solid #000;
    }
}


.CardText {
    border: 1px solid #000;
    border-right: none;
    border-top: none;
    margin-bottom: 10px;
}

.CardText .frame {
    display: flex;

    flex-wrap: wrap;
}

.CardText .frame:first-of-type {}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    .CardText .frame {
        display: block;
    }

    .pen.CardText .frame {
        display: flex;
    }

    .pen.CardText .item_box {
        flex-wrap: nowrap;
    }
}

.CardText .item_box {
    border: 1px solid #000;
    border-left: none;
    border-bottom: none;

}

.CardText .item_box,
.CardText .atkdef {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    flex: 1;
    flex-grow: 1;
    width: 100%;
}

.CardText .item_box img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.CardText .atkdef .item_box {
    min-width: 150px;
}

.CardText .item_box:first-of-type,
.CardText .atkdef:first-of-type {}

.CardText .item_box>* {
    font-size: 1.4rem;
    color: #000;
    padding: 5px;
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    .CardText .item_box,
    .CardText .atkdef {
        min-height: auto;
    }

    .CardText .item_box p {
        font-size: 12px;
    }

    .CardText .item_box>* {
        padding: 5px;
    }
}

.CardText .item_box .item_box_title {
    white-space: nowrap;
    display: flex;
    text-align: center;
    background-color: #023765;
    justify-content: center;
    color: #ffffff;
    flex: 1;
}

.CardText .frame.imgset .item_box_title {}

.CardText .item_box .item_box_title img {

    display: block;
}

@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    .CardText .item_box .item_box_title img {
        width: 18px;
        height: 18px;
        max-width: 18px;
        max-height: 18px;
        display: block;
    }

    .CardText .item_box .item_box_title {
        line-height: 20px;
    }
}

.CardText .item_box .item_box_value {
    flex: 3;
    text-align: left;
    display: flex;
    align-items: center;
}

.t_center {
    justify-content: center;
}

.CardText .item_box_text {
    flex: 1;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    color: #000;
    border-left: none;
    border-bottom: none;
}

.CardText .item_box_text .item_box_title_note {
    border-bottom: 1px solid #000;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 5px 0 0;
}

.CardText.pen .item_box {
    justify-content: flex-start;
}

.CardText.pen .item_box_text {
    border-top: none;
}

.CardText .item_box.pen_s {
    border-bottom: 1px solid;
}

.text_title {
    margin: 0 0px 5px;
    flex: 1;
    border-bottom: 1px solid;
    padding: 0 5px;
    box-sizing: border-box;
    font-weight: bold;
}

.pen .text_title {
    margin: 0 5px 0;
    padding-bottom: 0;
}

#CardRelation {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

#CardRelation>a {
    margin: 5px 10px;
}

@media only screen and (max-width: 896px) {

    /*デバイスの横幅が896px以下の場合*/
    .navbtn h4 {
        line-height: 1.2;
    }
}

#user_box {
    padding: 0 10px;
    box-sizing: border-box;
}

#user_box form {
    display: flex;
    flex-wrap: wrap;
}

#user_box .inner_box {
    flex: 1;
    margin: 0;
    min-width: 200px;
    border: 1px solid #000;
    background-color: #00cccc;
    padding: 5px 10px 60px;
    box-sizing: border-box;
    position: relative;

}

@media only screen and (max-width: 500px) {
    #user_box .inner_box {
        width: 100%;
        min-width: 100%;
    }
}

#user_box p {
    color: #000;
    font-size: 14px;
}

#user_box .select,
#user_box select {
    width: 100%;
    margin: 1px 0;
}

#user_box .dk_container {
    transform: skewX(0deg);
    background: #fff;
    border: 1px solid #000;
    width: 100%;
}

#user_box .dk_container>* {
    transform: skewX(0deg);

}

#user_box .dk_container>a {
    width: 100% !important;
    box-sizing: border-box;
}

#user_box .dk_container.dk_open .dk_options {
    top: auto !important;
    margin: 0px 0px 0 0;
}

#user_box .dk_container .dk_label {
    color: #000;
    white-space: break-spaces;
}

#user_box .f_del {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
}

#user_box #message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#pack_list,
#relationCard,
#form_search {
    margin-top: 20px;
}

#pack_list ul {
    border: 1px solid #000;
    border-bottom: 2px solid #000;
}

#pack_list li {
    display: flex;
    border: 1px solid #000;
    border-bottom: none;
    font-size: 14px;
    padding: 5px;
    flex-wrap: wrap;
}

#pack_list .row:hover {
    background-color: #fff0b2
}

#pack_list li>* {
    padding: 2px 5px;
    white-space: nowrap;
    min-width: 80px;
    display: block;
}

#pack_list .pack_name {
    flex: 1;
    white-space: normal;
    font-weight: bold;
}

#pack_list .head {
    background: #000;
    color: #fff;
}

#pack_list .row {
    background: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 896px) {

    /*デバイスの横幅が896px以下の場合*/
    #pack_list li {
        font-size: 12px;

    }

    #pack_list li>* {
        min-width: 60px;
    }

    #pack_list .pack_name {
        flex: auto;
    }
}


.li_top {
    border: 3px #fff double;
    background-color: #000;
    /* padding: 5px; */
    margin: 0 -1px;
    color: #fff;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 18px;
}

.forbidden_limited_ber {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 2px 0 0;
    font-size: 1.6rem;
}

.forbidden_limited_ber.limited_type_1 {
    background-color: #dc0000
}

.forbidden_limited_ber.limited_type_2 {
    background-color: #fb8c32
}

.forbidden_limited_ber.limited_type_3 {
    background-color: #fbb830
}

.forbidden_limited_ber span {
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

.forbidden_limited_ber .img {
    display: block;
    width: 30px;
    height: 20px;
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

.forbidden_limited_ber.limited_type_1 .img {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_forb_unlim.svg);
    background-color: #dc0000;
}

.forbidden_limited_ber.limited_type_2 .img {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_limit_unlim.svg);
    background-color: #fb8c32;
}

.forbidden_limited_ber.limited_type_3 .img {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_slim_unlim.svg);
    background-color: #fbb830;
}



@media only screen and (max-width: 500px) {

    /*デバイスの横幅が500px以下の場合*/
    #card_title h1 span {
        font-size: 22px;
        line-height: 28px;

    }

    #card_title .ruby {
        font-size: 12px;
        line-height: 16px;
    }

    .CardText .item_box>span {
        font-size: 12px;
    }

    .CardText .item_box_text {
        font-size: 12px;
        line-height: 18px;
    }
}

.img_yaji {
    display: none;
    justify-content: space-between;
}

.img_yaji>* {
    padding: 5px 10px;
    color: #ffffff;
    background: #023765;
    border-radius: 10px;
    line-height: 1.2;
    font-size: 1.6rem;
}

@media only screen and (max-width: 700px) {

    /*デバイスの横幅が700px以下の場合*/
    .img_yaji {
        display: flex;
    }

    #thumbnail {
        display: none
    }
}


@charset "utf-8";

@import "FaqSearchCondition.css";

.list .dack_name .name {
    padding: 10px 5px 5px;
    line-height: 1.2;
}

.list .dack_set .text {
    display: flex;
}

.list .dack_set .text span {
    font-size: 1.2rem;
}

.list .dack_set .text .tag_name {
    flex: 1;
    display: flex;
}

.list .dack_set .text span {
    padding: 0 10px;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 2px;
    line-height: 1.5;
    display: block;
}

.list .dack_set .text .tag_name span {
    background: #467491;
}

.list .dack_set .text .new span {
    background: #ffba00;
}

.list .dack_set .text .attention span {
    background: #d83134;
}

.list .t_row:first-child {
    margin: 0;
}

@charset "utf-8";

/*----card_info----*/

.qa_text_area {
    color: #000;
    margin: 0 auto 30px;
    background-color: #fff;
    border: solid 2px #000;
    box-sizing: border-box;
}

.qa_text_area .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px;
    color: #000;
    border-bottom: 1px solid;
    margin: 5px 5px 0;
}

.qa_text_area .title .update {
    font-size: 1.2rem;
    font-weight: normal;
}

.qa_text_area .text {
    padding: 15px 10px 25px;
    line-height: 1.8;
    font-size: 1.4rem;
    box-sizing: border-box;
    min-height: 128px;
}

.qa_text_area .supplement {
    margin: 10px;
    border: 1px solid #467491;
    border-radius: 5px;
}

.qa_text_area .supplement .title {
    background: #467491;
    margin: 0;
    color: #ffffff;
    border: none;
}

.qa_text_area .supplement .text {
    min-height: 64px;
}

.qa_text_area .text.supplement {}


.qa_text_area a {
    text-decoration: none;
}

.qa_text_area a:hover {
    text-decoration: underline !important;
}

.qa_text_area a:visited {
    text-decoration: none;
}


/*----/card_info----*/



#article_body .list_style ul li {}

#article_body .list_style ul li:hover {
    cursor: pointer;
}

#article_body .list_style ul li table tr td {
    padding: 5px 10px 0px 10px;
}

#article_body .list_style ul li table tr td div.border_t {
    border-top: solid 1px #ccc;
}

#article_body .list_style ul li:hover table tr td div.border_t {
    border-top: solid 1px #fff;
}

#article_body .list_style ul li div.qa_title {
    font-size: 1.4rem;
    line-height: 1.5em;
}

#article_body .list_style ul li span.tag_name {
    font-size: 1rem;
    color: #555;
}

#article_body .list_style ul li span.tag_name span {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px;
    margin: 0 5px;
    margin-bottom: 5px;
}

#article_body .list_style ul li:hover span.tag_name span {
    background-color: #fff;
    border-radius: 20px;
}

#article_body .list_style ul li span.new {
    border: solid 1px #d59f00;
    background-color: #ffe495;
    font-weight: bold;
    padding: 0 5px;
    font-size: 1.4rem;
    color: #555;
}

#article_body .list_style ul li span.attention {
    border: solid 1px #d58095;
    background-color: #ffd5df;
    font-weight: bold;
    padding: 0 5px;
    font-size: 1rem;
    color: #555;
}


/*------to_detail------*/

#to_detail {
    display: block;
    height: 70px;
    line-height: 1.5em;
    width: 180px;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    background: url(chrome-extension://__MSG_@@extension_id__/images/parts/btn_box_yellow.png) no-repeat;
}

#to_detail b {
    display: block;
    padding-top: 14px;
}

#to_detail:hover {
    background-position: right top;
    text-decoration: none;
}

#to_detail:visited {
    text-decoration: none;
}

/*------/to_detail------*/

@charset "utf-8";

.search_box {
    margin: 0 auto;
}

.search_hed {
    background: #022c53;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search_hed .search {
    display: flex;
    flex: 1;

}

.search #first_search {
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;

    padding-right: 5px;
    margin-right: 50px;
    box-sizing: border-box;
}

#keyword {
    padding: 10px 7px;
    font-size: 1.4rem !important;
    font-weight: bold;
    border: none;
    box-sizing: border-box;
    flex: 1;
    outline: none;
    line-height: 1.2;
}

#keyword:focus {
    background-color: #ffffff;
}

.search #first_search img {
    position: relative;
    padding: initial;
    width: 20px;
    height: 20px;
}


.search_hed .s_btn {
    flex: none;
    display: block;
    padding: 0 45px 0 50px
}

.search_hed .s_btn a {
    justify-content: center;
}

.search_bot {
    border: 1px solid #000000;
    box-sizing: border-box;
}

.search_row {
    border: 1px solid #000;
    margin-top: -1px;
}

.search_row:first-child {
    margin-top: 0
}

.search_row>* {
    display: block;
}

.search_row .search_title {
    background: #467491;
    color: #ffffff;
    font-size: 1.2rem;
    min-width: 128px;
    padding: 0 5px;
}

.search_row .search_btn {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.search_row .search_btn a {
    padding: 2px;
    box-sizing: border-box;
    min-width: 20%;
    display: block;
}

.search_row .search_btn a span {
    font-size: 1.2rem;
    background: #002345;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    display: block;
}

.search_row .search_btn a:hover {
    text-decoration: none;
    opacity: .8;
}

.dk_container {
    display: flex;
}

@media only screen and (max-width: 896px) {

    /*デバイスの横幅が896px以下の場合*/
    .search_row .search_btn a {
        width: auto;
        min-width: 20%;
    }

    .search_row .search_btn a span {
        padding: 5px 10px;
        text-align: center;
    }

    .search_hed {
        display: block;
    }

    .search_hed .search {
        margin: 0 0 20px;
    }
}

@media only screen and (max-width: 700px) {

    /*デバイスの横幅が700px以下の場合*/
    .search_row .search_btn {}

    .search_hed .search {
        display: block;
    }

    .search_hed .search>* {
        margin-bottom: 10px;
        min-width: 100%;
    }

    .dk_container {
        float: none;
        width: 100%;
    }

    .dk_container a {
        width: 100% !important;
    }
}