/* tablink */
.tablink_deckSupport li.now,
.tablink_deckSupport li:active {
    border-bottom-color: #ffba00;
}

.tablink_deckSupport li.now span {
    color: #ffba00;
}

/* shuffle */

/*.deck_image.shuffle div.card_set div.image_set a {
    max-width:6.5%;
}
.deck_image.shuffle div.card_set{
    margin:0 0 20px;
}
.deck_image.shuffle div.card_set>div.subcatergory>div.top>h3 {
    min-width:0;
}*/

/* sideChange */

/*.deck_image.MouseUI {
    min-height:780px;
}*/

/*.deck_image:not(.MouseUI) .image_set>a:not(:has(span:has(img):not(.del_card))) {
    max-width: 6.5%;
    padding:1px;
    box-sizing:border-box;
    position: relative;
}*/


/*.deck_image .image_set a:has(span.del_card:has(img)) {
    display: none !important;
}
.deck_image .image_set a:not(:has(span:has(img):not(.del_card))) {
    display: none !important;
}*/

/*.deck_image.MouseUI .image_set span:not(.del_card):has(img) {
    max-width: 6.5%;
    padding:1px;
    box-sizing:border-box;
    position: relative;
}*/

/*.deck_image .image_set span.del_card:has(img) {
    display: none;
}*/

/*.deck_image .image_set span.add_card:has(img) {
    position: relative;
}*/

.deck_image .image_set span>div {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border: 3px solid transparent;
    top: 0;
}

/*.deck_image .image_set span.add_card>div>span{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border: 3px solid transparent;
    top: 0;
}*/
/*#2ef706;*/

.deck_image .image_set span.forbidden>div>span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_forb_unlim.svg);
    background-color: #dc0000;
    background-size: 50%;
    max-height: 30%;
}

.deck_image .image_set span.limited>div span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_limit_unlim.svg);
    background-color: #fb8c32;
    max-height: 30%;
}

.deck_image .image_set span.semi_limited>div>span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_slim_unlim.svg);
    background-color: #fbb830;
    max-height: 30%;
}

.deck_image .image_set span>div span {
    display: block;
    width: 100%;
    height: min(2vw, 20px);
    position: absolute;
    bottom: 0;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center 3px;
}

#deck_header a.button_keyword_delete {
    /* background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/keyword_delete.png); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: solid 1px transparent;
}

#deck_header dl dd select[multiple]>option[selected] {
    font-weight: bold;
    background-color: chartreuse;
}

.hex.square:before,
.hex.square:after,
#deck_image .hex.square:before,
#deck_image .hex.square:after {
    width: 0px;
    margin: 2px;
    filter: none;
}


/* #search .filter_set > div .title {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 116, 145);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 120px;
    flex: 1 1 0%;
    padding: 3px;
} */

/* #info_area div.info_article.none {
    display:none;
} */

/* div#bg {
    background: url(chrome-extension://__MSG_@@extension_id__/images/parts/hexagon_02.png); #fff
} */

#bottom_btn_set a.square.button {
    margin: 2px 2px;
    filter: "none";
}

#and_or>span>label>span,
#and_or2 label>span {
    font-size: 0.9rem;
}

#deck_image div.image_set span:hover img,
#search_result div:hover>img.img_chex,
#info_area div:hover>img.img_chex,
#card_frame>div>a:hover>img {
    cursor: pointer;
    opacity: 0.8;
    zoom: 1;
}

#search_result .list .c_normal .box_card_img,
#info_area .list .c_normal .box_card_img {
    width: 96px;
    min-height: 140px;
    background: #ffffff;
    background-size: 100%;
    margin: 5px;
}