/* tablink */
.tablink_deckSupport li.now,
.tablink_deckSupport li:active {
    border-bottom-color: #ffba00;
}

.tablink_deckSupport li.now span {
    color: #ffba00;
}

/* shuffle */

/*.deck_image.shuffle div.card_set div.image_set a {
    max-width:6.5%;
}
.deck_image.shuffle div.card_set{
    margin:0 0 20px;
}
.deck_image.shuffle div.card_set>div.subcatergory>div.top>h3 {
    min-width:0;
}*/

/* sideChange */

/*.deck_image.MouseUI {
    min-height:780px;
}*/

/*.deck_image:not(.MouseUI) .image_set>a:not(:has(span:has(img):not(.del_card))) {
    max-width: 6.5%;
    padding:1px;
    box-sizing:border-box;
    position: relative;
}*/


/*.deck_image .image_set a:has(span.del_card:has(img)) {
    display: none !important;
}
.deck_image .image_set a:not(:has(span:has(img):not(.del_card))) {
    display: none !important;
}*/

/*.deck_image.MouseUI .image_set span:not(.del_card):has(img) {
    max-width: 6.5%;
    padding:1px;
    box-sizing:border-box;
    position: relative;
}*/

/*.deck_image .image_set span.del_card:has(img) {
    display: none;
}*/

/*.deck_image .image_set span.add_card:has(img) {
    position: relative;
}*/

.deck_image .image_set span>div {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border: 3px solid transparent;
    top: 0;
}

/*.deck_image .image_set span.add_card>div>span{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    border: 3px solid transparent;
    top: 0;
}*/
/*#2ef706;*/

.deck_image .image_set span.forbidden>div>span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_forb_unlim.svg);
    background-color: #dc0000;
    max-height: 30%;
}

.deck_image .image_set span.limited>div span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_limit_unlim.svg);
    background-color: #fb8c32;
    max-height: 30%;
}

.deck_image .image_set span.semi_limited>div>span {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/svg/icon_slim_unlim.svg);
    background-color: #fbb830;
    max-height: 30%;
}

.deck_image .image_set span>div span {
    display: block;
    width: 100%;
    height: min(2vw, 20px);
    position: absolute;
    bottom: 0;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center 3px;
}

#deck_header a.button_keyword_delete {
    /* background-image: url(chrome-extension://__MSG_@@extension_id__/images/parts/keyword_delete.png); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: solid 1px transparent;
}

#deck_header dl dd select[multiple]>option[selected] {
    font-weight: bold;
    background-color: chartreuse;
}

.hex.square:before,
.hex.square:after,
#deck_image .hex.square:before,
#deck_image .hex.square:after {
    width: 0px;
    margin: 2px;
    filter: none;
}


/* #search .filter_set > div .title {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 116, 145);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 120px;
    flex: 1 1 0%;
    padding: 3px;
} */

/* #info_area div.info_article.none {
    display:none;
} */

/* div#bg {
    background: url(chrome-extension://__MSG_@@extension_id__/images/parts/hexagon_02.png); #fff
} */

#bottom_btn_set a.square.button {
    margin: 2px 2px;
    filter: "none";
}

#and_or>span>label>span,
#and_or2 label>span {
    font-size: 0.9rem;
}

#deck_image div.image_set span:hover img,
#search_result div:hover>img.img_chex,
#info_area div:hover>img.img_chex,
#card_frame>div>a:hover>img {
    cursor: pointer;
    opacity: 0.8;
    zoom: 1;
}

#search_result .list .c_normal .box_card_img,
#info_area .list .c_normal .box_card_img {
    width: 96px;
    min-height: 140px;
    background: #ffffff;
    background-size: 100%;
    margin: 5px;
}

#dnm::-webkit-input-placeholder {
    font-size: 1.2rem;
    /* color: #4444bb; */
    /* opacity: 80%; */
    /* font-family: "メイリオ"; */
}

:root {
    --circle-rad: 25px;
    --circie-2rad: 50px;
    --cricle-sm-rad: 20px;
}

.circle {
    position: relative;
    width: 30px;
    height: 30px;
    /* background: #333;
    border-radius: 50%; */

    border-radius: 50%;
    background: rgb(124, 124, 211);
    /* background: radial-gradient(transparent 50%, #333 .35 51%); */
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    width: 30px;
    height: 30px;
    background-color: #90c6ff;
    opacity: 1;
    background-image: radial-gradient(#e8e8e8 0.8500000000000001px, #90c6ff 0.8500000000000001px);
    background-size: 17px 17px;
    /* opacity: .3; */
    transform-origin: right 15px;
    z-index: 2;
    animation: rotate-circle-left 1s linear forwards;
}

.circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 15px;
    width: 30px;
    height: 30px;
    background-color: #90c6ff;
    opacity: 1;
    background-image: radial-gradient(#e8e8e8 0.8500000000000001px, #90c6ff 0.8500000000000001px);
    background-size: 17px 17px;
    /* opacity: .3; */
    transform-origin: left 15px;
    z-index: 3;
    animation: rotate-circle-right 1s linear forwards;
}

.circle .circle-inner {
    position: absolute;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    top: 2.5px;
    left: 2.5px;
    width: 25px;
    height: 16px;
    padding-top: 9px;
    background: #fff 0.1;
    /* opacity: .3; */
    border-radius: 50%;
    z-index: 4;
}

.will-remove {
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 0;
}

.will-appear {
    transition-property: opacity;
    transition-duration: 0.2s;
    opacity: 1;
}

@keyframes rotate-circle-right {
    0% {
        transform: rotate(0deg);
        background-color: #90c6ff;
        opacity: 1;
        background-image: radial-gradient(#e8e8e8 0.8500000000000001px, #90c6ff 0.8500000000000001px);
        background-size: 17px 17px;
        /* opacity: .3; */
    }

    50% {
        transform: rotate(180deg);
        background-color: #90c6ff;
        opacity: 1;
        background-image: radial-gradient(#e8e8e8 0.8500000000000001px, #90c6ff 0.8500000000000001px);
        background-size: 17px 17px;
        /* opacity: .3; */
    }

    50.01% {
        transform: rotate(360deg);
        background: rgb(124, 124, 211);
        /* opacity: .3; */
    }

    100% {
        transform: rotate(360deg);
        background: rgb(124, 124, 211);
        /* opacity: .3; */
    }
}

@keyframes rotate-circle-left {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

div.area_history {
    max-width: 60vw;
    /* box-shadow: 10px white inset; */
    /* gap: 20px; */
    mask-image: linear-gradient(to right, transparent 2%, black 4%, black 96%, transparent 98%);
    -webkit-mask-image: linear-gradient(to right, transparent 2%, black 4%, black 96%, transparent 98%);
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

div.area_history::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

div.area_history::-webkit-scrollbar-track {
    background: #42d7eb;
    border-radius: 5px;
}

div.item_history {
    cursor: pointer;
    /* background: rgba(33, 180, 153, 0.95); */
    /* background-color: #638025; */
    min-width: 10vw;
    max-height: 250px;
    background-size: 16px 16px;
    background-color: #90c6ff;
    opacity: 1;
    background-size: 16px 16px;
    max-width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    /* vertical-align: middle; */
    border: 2px solid #131313;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: whitesmoke; */
}

div.item_history,
div.item_history * {
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;

}

div.info_history.item_history {
    background-image: repeating-linear-gradient(45deg, #e8e8e8 0, #e8e8e8 1.6px, #90c6ff 0, #90c6ff 50%);
    color: black;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



div.deck_history.item_history {
    /* background-image: repeating-linear-gradient(45deg, #e8e8e8 0, #e8e8e8 1.6px, #f0464f 0, #f0464f 50%); */
    background-image: repeating-linear-gradient(45deg, #e8e8e8 0, #e8e8e8 1.6px, #90c6ff 0, #90c6ff 50%);

}



/* div.info_history.item_history, div.info_history.item_history * {

} */

div.item_history.present {
    background-image: repeating-linear-gradient(45deg, #e8e8e8 0, #e8e8e8 1.6px, #90c611 0, #90c611 50%);
}

div.area_history .item_history:hover {
    opacity: 0.9;
}

div.none {
    display: none;
}

div.area_history img.img_chex {
    max-width: 70px;
    margin: 5px;
}

#deck_image div.image_set.image_set_MouseUI>span {
    max-width: min(6.5%, 65px);
    padding: 1px;
    box-sizing: border-box;
    display: block;
    position: relative;
}

div.modal_history {
    position: absolute;
    top: 20vh;
    left: 20vw;
}